%h2.demoHeaders Tabs
%div#tabs
  %ul
    %li
      %a{:href => '/mail'}First
    %li
      %a{:href => '#tabs-2'}Second
    %li
      %a{:href => '#tabs-3'}Third
  #tabs-2 Phasellus mattis tincidunt nibh. Cras orci urna, blandit id, pretium vel, aliquet ornare, felis. Maecenas scelerisque sem non nisl. Fusce sed lorem in enim dictum bibendum.
  #tabs-3 Nam dui erat, auctor a, dignissim quis, sollicitudin eu, felis. Pellentesque nisi urna, interdum eget, sagittis et, consequat vestibulum, lacus. Mauris porttitor ullamcorper augue.
